/* Impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    margin: 12px;
} 
body {
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: sans-serif;
}
/* Fine Impostazioni generali */
/* Indice */
header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
/*Impostazioni Footer*/
footer{
    background-color: black;
    width: 100%;
    height: 450px;
}
/* Parte destra-sinistra indice */
.LeftNav, .RightNav{
    display: flex;
    margin-left: 10px;
    align-items: center;
    margin-right: 10px;
}
#LogoSmall{
    width: 200px;
    height: auto;
}
#Touch{
    background-color: #0061ff;
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fine Indice */
/* Inizio titolo, testi, immagini iniziali */
.PropostaCliente{
    height: 70vh;
    background-color: #b4d0e7;
}
#Title-PropostaCliente{
    display: flex;
    justify-content: center;
    font-size: 80px;
    padding-top: 70px;
    text-align: left;
}
.Testi{
    padding-left: 150px;
}
.SubtitlesTable> hr{
    width: 30%;
    color: #ededee;
    margin-top: 70px;
}
#Freccia{
   padding-top: 40px;
   font-size: 50px;
}
#ImmagineTitolo{
    padding-top: 50px;
    width: 800px;
}
.Action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Iniziainqualsiasimomento{
    margin-top: 20px;
}
/* Inizio seconda parte main */
.SelectionBusiness, .Box,.PiccoloBox{
    margin-top: 120px;
    margin-left: 25%;
    margin-right: 25%;
}
.Button{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
#secondo{
    margin-left: 90px;
}
input{
    margin-right: 10px;
}
/*PrimaTabella*/
.BaseTable{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.PreTable{
    display: flex;
    background-color:white;
    width: calc((100% / 3) - 1rem);
    height: 60px;   
    border-style: solid;
    border-bottom: none;
    border-color: #ededee;
    justify-content: center;
    align-items: center;
}
.BaseTable2{
    display: flex;
    justify-content: space-around;
}
.TableCenter{
    display: flex;
    background-color: white;
    width: calc((100% / 3) - 1rem);
    height: 820px;   
    border-style: solid;
    border-color: #ededee;
}
/*Seconda Tabella*/
.PreTable2{
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;   
    border-style: solid;
    border-bottom: none;
    border-color: #ededee;
    justify-content: center;
    align-items: center;
}
.BaseTable3{
    display: flex;
    margin-top: 60px;
}
.BaseTable4{
    display: flex; 
}
.TableCenter2{
    display: flex;
    background-color: white;
    width: 100%;
    height: 200px;   
    border-style: solid;
    border-color: #ededee;
}
/*Inizio impostazione per tabella */
.InternalTable, .InternalTable2{
    margin-left: 20px;
    margin-top: 30px;
}

#Price{
    margin-top: 20px;
}
#Credits{
    color: #d8d8da;
}
.Inizialaprovagratuita2{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0061ff;
    width: 220px;
    height: 40px;
    border: none;
    color: white;
    font-size: 14px;
}
.SubtitlesTable, .SubtitlesTable2, .InternalTable2> p{
    margin-top: 40px;
    font-size: 14px;
}
.SubtitlesTable> span{
    text-decoration: underline;
}
.SubtitlesTable2{
    margin-top: 70px;
}
.SubtitlesTable2 > p> i{
    color: #0061ff;
    margin-top: 10px;
}
/*Inizio impostazione per seconda tabella */
.TableCenter2, .Box{
    display: flex;
}
/*Fine impostazione per seconda tabella */
/*Inizio tasti*/
.Trovaunpartner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-color: grey;
    width: 200px;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
}
.Inizialaprovagratuita{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0061ff;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
}
/* Fine tasti*/
/* Box */
#Immage-Box{
    width: 550px;
    height: auto;
}
.Subtitle-Box> p{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 40px;
}
.Subtitle-Box> h3{
    margin-top: 30px;
    margin-left: 40px;
}
/* Fine Box */
/* Box 2 */
.Box2{
    margin-top: 120px;
    margin-left: 25%;
    margin-right: 25%;
}
.ContainerTableDropBoxBusiness{
    display: flex;
    flex-wrap: wrap; 
}
.TableCenter4{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% / 3) ;
    height: 500px;   
}
.TableCenter5{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% / 3) ;
    height: 500px;   
}
/*Dimensioni immagini*/
#ImmageTable{
    height: 45%;
}
#ImmageTable2{
    width: 280px;
    align-self: center;
}
#ImmageTable3{
    width: 97%;
    align-self: center;
}
/*Fine Dimensioni immagini*/
/*Testi Dropbox*/
.TextTableDropBox> p{
    margin-top: 20px;
    font-size: 14px;
}
.TextTableDropBox{
    text-align: center;
}
/*Fine Testi Dropbox*/
#TextBoxPiccolo{
    margin-top: 40px;
    color: #0061ff;
    text-decoration: underline;
}
/*lista footer */
.Liste{
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
}

.st1list{
    color: white;
    padding-top: 40px;
}
/* fine lista footer */

footer> hr{
    margin-top: 60px;
    color: white;
    width: 7%;
    margin-left: 20%;
}

footer> p{
    color: white;
    margin-top: 40px;
    margin-left: 20%;
}
/*Inizio Designit */
.Designit{
    display: flex;
    margin-top: 150px;
}
.Designit> .beige> hr{
    width: 20%;
    color: #f7f7f7;
    margin-left: 40px;
    margin-top: 40px;
}
.Designit> .beige> p{
    margin-top: 40px;
    font-size: 14px;
    margin-left: 40px;
}
.Red{
    background-color: #61082b;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.Green{
    background-color: #a2d39b;
    border-style: solid;
    border-color: #d0e9cd;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.beige{
    background-color: #f5f5f5;
    width: 600px;
    height: 600px;

}
.Blue-sky{
    background-color: #0093ce;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
    
}
.Red-off{
    background-color: #ff1d1c;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.Image-Designit{
    width: 180px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(214deg) brightness(102%) contrast(101%);
}
.Image-DesignitCenter{
    margin-top: 40px;
    margin-left: 40px;
    width: 300px;
    height: auto;
}
.Red-{
    background-color: #d5001f;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
}
.Blue{
    background-color: #0d2381;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
}
.SkyBlue{
    background-color: #b4d0e7;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
}
.Yellow{
    background-color: #ffd72f;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
}


















